h1 {
  margin: 0;
  padding: 0 0 0.5em 0;
}

ul {
  margin: 0;
}

app-pokemon.badPokemon {
  // background-color: rgba(255, 0, 0, 0.1);
}

app-pokemon.goodPokemon {
  background-color: rgba(0, 255, 0, 0.1);
}

:host {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.menu {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.pokemonList {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 450px;
  overflow-y: auto;
}
