<div class="menu">
  <button mat-raised-button
          color="primary"
          *ngIf="!evalInProgress"
          (click)="startPokemonsEval()"
  >
    Start Pokemon evaluation
  </button>
  <button mat-raised-button
          *ngIf="evalInProgress"
          (click)="stopPokemonsEval()"
  >
    Stop Pokemon evaluation
  </button>

  <mat-form-field>
    <mat-label>Min IV</mat-label>
    <input matInput
           [(ngModel)]="minIv"
           type="number"
    />
  </mat-form-field>

  <!--<button mat-raised-button (click)="takeScreenshot()">Take screenshot</button>-->

  <!--<button mat-raised-button (click)="test()">Test</button>-->
</div>
<div class="pokemonList">
  <app-pokemon
    *ngFor="let pokemon of pokemons ; let i = index"
    [pokemon]="pokemon"
    (remove)="pokemons.splice(i, 1)"
    (show)="selectedPokemon=pokemon"
    [ngClass]="{'badPokemon': pokemon.maxIv < minIv, 'goodPokemon': pokemon.maxIv >= minIv}"
  ></app-pokemon>
</div>

<app-pokemon-detail [pokemon]="selectedPokemon"></app-pokemon-detail>

<!--<img style="width: 360px;" *ngIf="screenshot" [src]="screenshot"/>-->
<!--<pre *ngIf="ocr">-->
<!--{{ocr.text}}-->
<!--</pre>-->
