<button mat-button *ngIf="pokemon" (click)="select()" [ngClass]="{lucky: pokemon.lucky}">
  <!--<a class="remove" href="#" (click)="doRemove()">X</a>-->
  <div class="pc">{{pokemon.cp ? pokemon.cp : '?'}}</div>
  <div class="image">
    <span></span>
    <img *ngIf="pokemon.image" [src]="pokemon.image" alt="">
    <span *ngIf="pokemon.favorite" class="favorite"></span>
  </div>
  <div class="name">{{pokemon.renamed?pokemon.renamed:pokemon.name}}</div>
  <div>
    {{pokemon.minIv}} -> {{pokemon.maxIv}}
  </div>
</button>
